//- Demo Section
//- ==================================
section#demo-section
  .container
    .row
      
      .col-lg-5.mx-auto
        +section-head('citerra', 'demo')
        
      .col-lg-10.col-md-12.mx-auto
        .video-demo
          // Video Demo
          //- iframe(src="https://www.youtube.com/embed/r6CVVocjzAU" frameborder="0" allowfullscreen)
          iframe(width="560" height="315" src="https://www.youtube.com/embed/r6CVVocjzAU" frameborder="0" allowfullscreen)
