//- Download Section
//- ==================================
section#download-section
  .container
    .row.align-items-center
      
      .col-lg-5.offset-lg-1.col-md-12
        +section-head('download', 'now')
        
        .download-buttons
          // Download Button 1
          a.btn.citerra-btn.blue(href="https://creativemarket.com/AndriyFM") ios version
          
          // Download Button 2
          a.btn.citerra-btn.orange(href="https://creativemarket.com/AndriyFM") android version
        
      .col-lg-5.col-md-12
        .download-img
          // Download Image
          img.wow.bounceInRight(src="img/download-img.png", alt="download image")
