extend layout

//- BLOCK META
//- ==================================
append meta
  title Citerra - One Page HTML Template

//- BLOCK MAIN
//- ==================================
append main
    
  // FEATURE SECTION
  include sections/feature-section
  
  // REVIEW SECTION
  include sections/review-section
  
  // SCREENSHOT SECTION
  include sections/screenshot-section
  
  // DEMO SECTION
  include sections/demo-section
  
  // DOWNLOAD SECTION
  include sections/download-section
  
  // CONTACT SECTION
  include sections/contact-section
    
    
    
    
    
