//- Meta
//- ==================================
- var pageDescription = "The Best One Page HTML Template for Launching Mobile IOS/Android Application"
- var pageAuthor = "Javatheme/AndriyFM"

//- CSS Plugins
//- ==================================
- var bootstrapCSS = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
- var owlCarouselCSS = "css/owl-carousel/owl.carousel.css"
- var owlCarouselThemeCSS = "css/owl-carousel/owl.theme.default.css"
- var loadersCSS = "css/loaders/loaders.min.css"
- var animateCSS = "css/animate/animate.min.css"

//- Main CSS
//- ==================================
- var mainCSS = "css/style.min.css"

//- Google Fonts
//- ==================================
- var googleFonts = "https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,700,700i"

//- ICON
//- ==================================
- var flaticon = "css/flaticon/flaticon.css"

//- Javascript Plugins
//- ==================================
- var jqueryJS = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"
- var popperJS = "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
- var bootstrapJS = "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
- var owlCarouselJS = "js/owl.carousel.min.js"
- var scrollToJS = "js/jquery.scrollTo.min.js"
- var localScrollJS = "js/jquery.localScroll.min.js"
- var loadersJS = "js/loaders.css.js"
- var wowJS = "js/wow.min.js"

//- Main Javascript
//- ==================================
- var mainJS = "js/main.js"
